
  
  .Results-header {
    background-color: #0036a2;
    min-height: 10vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Results-Header h1 {
    font-weight:600;
  }
 
  .Response{
    padding-left: 30px;
    float: left;
    font-size: calc(10px + 2vmin);
  }

  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Adjust to control vertical centering */
  }
  
  .loading-symbol {
    width: 1000px; /* Adjust size if needed */
    height: 600px;
  }