
  
  .Results-header {
    background-color: #0036a2;
    min-height: 10vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Results-Header h1 {
    font-weight:600;
  }
 
  .ResultName{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
  }

  .Response{
    padding-left: 30px;
    float: left;
    font-size: calc(10px + 2vmin);
  }