.homeHeader {
    background-color: #033b57;
    font-family:'Ovo';
    color: #f8d6bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 998;
}

.content {
    padding-top: 100px;
}

.homeHeaderText{
    display: flex;
    text-align: center;
}

.homeBody{
    background-color: rgb(243, 234, 221);
    height: 1000px;
}

.homeBasicQuestions{
    word-wrap: break-word;
    width: 33%;
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:2%;
    margin-bottom:2%;
    bottom: 60%;
    padding: 20px;
    display: inline-block;
    background-color: #fff3dc5f;
    border-radius: 15px;
    color: rgb(45, 45, 45);
    font-family:'Gill Sans';
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); /* Light shadow */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for a frosted edge */
}

/* style={{wordWrap: "break-word", width: "500px", position: "relative",top:'15%', left: "10%", 
bottom: "60%", padding: "20px", float: "left", display: "inline-block", backgroundColor: "yellow",
border: "2px solid black", borderRadius: "15px"}} */

.homeDetailedQuestions{
    word-wrap: break-word;
    width: 33%;
    position: relative;
    margin-top: 2%;
    margin-right: 10%;
    margin-left:2%;
    margin-bottom:2%;
    padding: 20px;
    display: inline-block;
    background-color: #fff3dc5f;
    border-radius: 15px;
    color: rgb(45, 45, 45);
    font-family:'Gill Sans';
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); /* Light shadow */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for a frosted edge */
    
}

/* style={{wordWrap: "break-word", width: "500px", position: "fixed", bottom: "500px", right: "220px", padding: "20px",
float: "right", display: "inline-block", backgroundColor: "orange", border: "2px solid black", borderRadius: "15px"}} */

.footer {
    padding: 15px;
    background-color: #033b57;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    color: rgb(243, 234, 221);
    font-family: 'Gill Sans';
}

/*style={{border: "3px solid black", padding: "15px", backgroundColor: "green", textAlign: "center", bottom: "0", left: "0", 
position: "fixed", width: "100%"}}*/

.description{
    position:relative;
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom:5%;
    margin-top:5%;
}

.picture{
    margin-top: .5%;
    margin-left: 10%;
    margin-right: 5%;
    width: 13.35%;
    height: 35%;
    border: 2px solid black;
    object-fit: cover;
}

.text{
    flex:1;
    margin-right:10%;
    padding: 20px;
    background-color: #fff3dc5f;
    border-radius: 15px;
    font-family: 'Gill Sans';
    color:rgb(45, 45, 45);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); /* Light shadow */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for a frosted edge */
}

.API-form{
    width: 50%;
    display: inline-block;
    position: relative;
}

.Submit-Button{
    display: inline-block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 234, 221);
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
    z-index: 1000;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); /* Light shadow */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for a frosted edge */
}
