.BasicQuestions{
    text-align: left;
    scrollbar-color: white;
  }

  .BasicQuestions-Header{
    background-color: #f0229a;
    min-height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    padding: 0 1in;
  }
  .BasicQuestions-Header h1 {
    font-weight:600;
    margin-right: 20px;
  }
  .BasicQuestions-Body{
    background-color: #fcf4ea;
    max-height: 1000vh;
    align-items: flex-start;
    justify-content:center;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(5px + 3vmin);
    color: rgb(65, 65, 65);
    padding: 1in;
  }

  .BasicQuestions-MultipleChoice {
    margin-left: 50px;
    margin-bottom: 20px;
  }

  .basicCheckmark{
    margin-left: -35%;
    align-items: center;
  }

  .BasicQuestions-getAnswersButton{
    align-self: flex-end;
    margin-top: 20px;
    width: 180px;
    height: 70px;
    font-size: 20px;
  }

  .BasicQuestions-Footer {
    background-color: #142d1f;
    max-height: 1000vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
  }
  
  .BasicQuestions-link {
    color: #ffffff;
  }
 