.DetailedQuestions {
  min-height: 100vh;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #c86e00;
}

.DetailedQuestions-header {
  background-color: #b6e7ff;
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  padding: 0 8%;
  z-index: 5;
}

.DetailedQuestions-header h1 {
  font-weight: 600;
  margin-right: 20px;
}

.DetailedQuestions-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(5px + 3vmin);
  color: rgb(0, 0, 0);
  padding: 1in;
  width: 100%;
  height: 100%;
}

.detailedCheckmark {
  margin-left: -13%;
  margin-top: 1%;
}

.detailedFormat {
  padding-top:4%;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  text-align: center;
  width: 75%;
  height: 75%;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #b6e7ff;
  color: black;
}

.DetailedQuestions-textArea {
  width: 700px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
  overflow-y: auto;
  line-height: 1.5;
  vertical-align: top;
  margin: 0 auto;
  border: 2px solid black;
}

.DetailedQuestions-getAnswersButton {
  align-self: flex-end;
  margin-top: 20px;
  width: 180px;
  height: 70px;
  font-size: 20px;
}

.DetailedQuestions-footer {
  background-color: #142d1f;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.DetailedQuestions-link {
  color: #ffffff;
}
