.DetailedQuestions {
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "ArcadeFont";
    cursor: url('../Home Page/ArcadeCursor1.png') 12 12, auto;
    width: 100vw;
    height: 100%;
}

.DetailedQuestions-header {
  background-color: #101023;
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'ArcadeFont';
  color: #FFD700;
  position: fixed;
  width: 100%;
  padding: 0 8%;
  z-index: 5;
}

.DetailedQuestions-header h1 {
  font-weight: 600;
  margin-right: 20px;
}

.DetailedQuestions-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'ArcadeFont';
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  background-image: url('./DetailedBG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.detailedCheckmark {
  margin-left: -13%;
  margin-top: 1%;
}

.detailedFormat {
  padding-top: 5%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 65%;
  height: 65%;
  border: 3px solid rgba(255, 255, 255, 0.25); /* Light border for a polished look */
  border-radius: 15px;
  background-color: rgba(255, 232, 183, 0.7); /* Semi-transparent background */
  color: rgb(24, 49, 103);
  opacity: 90%;
  backdrop-filter: blur(10px); /* Adds the frosted glass effect */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  overflow: hidden; /* Ensures child elements don't spill over */
  font-size: 25px;
}

.DetailedQuestions-textArea {
  width: 700px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
  overflow-y: auto;
  line-height: 1.5;
  vertical-align: top;
  margin: 0 auto;
  border: 2px solid black;
}

.DetailedQuestions-getAnswersButton{
  align-self: flex-end;
  margin-top: 2%;
  width: 180px;
  height: 70px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
}

.DetailedQuestions-getAnswersButton:hover{
  transform: scale(1.05); /* Grow effect on hover */
}

.DetailedQuestions-footer {
  background-color: #101023;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'ArcadeFont';
  color: #FFD700;
  padding: 10px;
}

.DetailedQuestions-link {
  color: #ffffff;
}
